@import '../../styles/variables.scss';

$page-ratio-width: 210 / 297;
$page-ratio-height: 297 / 210;

.template-generator {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 20% 80%;
  justify-items: center;
  align-items: center;

  .generator__form {
    width: 100%;
    height: 100%;
  }

  .stage__parent {
    width: 100%;
    height: 100%;
    .page__container {
      width: 210mm;
      height: 297mm;

      .rectangle__template {
        &:hover {
          cursor: move;
        }
      }
    }
  }
}
