// ANCHOR colors
$primary-color: #63fae9;
$secondary-color: #024f46;
$primary-background-color: white;
$secondary-background-color: #a5a5a5;
$primary-typo-color: #2f2f2f;
$secondary-typ-color: #ffffff;
$color-danger: #ff4141;
$color-success: #85ff37;
$color-info: #0d6dfc;
// ANCHOR typography
$base-unit: 16px;
