<mat-dialog-content class="data-dialog" #dataDialog>
  <div class="dialog__header">
    <div class="close" (click)="closeDialog()">
      <p>X</p>
    </div>
  </div>

  <h3>Select The Data</h3>

  <!-- NOTE Warning and redirection -->
  <div
    (click)="redirectToDataExtrator()"
    class="dialog__warning"
    *ngIf="templateDataGiven ? false : true"
  >
    <p>Please select first the data</p>
  </div>

  <div class="dialog__table" *ngIf="templateData ? true : false">
    <mat-table [dataSource]="templateData.data" class="mat-elevation-z10">
      <ng-container
        *ngFor="let disCol of templateData.columns; let i = index"
        matColumnDef="{{ disCol }}"
      >
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox hidden (change)="columnSelected($event)">
            {{ disCol }}
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element[disCol] }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="templateData.columns"></mat-header-row>
      <mat-row
        *matRowDef="let element; columns: templateData.columns"
      ></mat-row>
    </mat-table>
  </div>
</mat-dialog-content>
